@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2><br />

@foreach (var errorPair in ViewData.ModelState)
{
    @if (errorPair.Value.Errors.Count > 0)
    {
        var Errors = errorPair.Value.Errors;

        <h3>
            <u>@errorPair.Key</u>:
            @for (int i = 0; i < Errors.Count; i++)
            {
                string Message = i < Errors.Count - 1 ? Errors[i].ErrorMessage + "; " : Errors[i].ErrorMessage;
                <span>@Message</span>
            }
        </h3>
    }
}